name: Code Quality Check

on: [push, pull_request]

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3

      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install flake8
        run: pip install flake8

      - name: Run flake8
        run: flake8 github_checker.py --max-line-length=120 --ignore=E203,W503
